<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head::head('Contacts | about')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body class="d-flex flex-column h-100">
<header th:insert="fragments/header::header('2')"></header>
<main class="flex-shrink-0">
    <div class="container-sm">
        <h3>CONTACTS</h3>
        <p>Restful web application v1.0.0</p>
        <p>developed by Ihor Soldatenko</p>
        <p>В приложении используются следующие технологии:</p>
        <ul>
            <li>Java</li>
            <li>Spring boot</li>
            <li>Spring JPA</li>
            <li>Spring REST</li>
            <li>Thymeleaf</li>
            <li>SQLite</li>
            <li>JQuery</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
        </ul>
        <br><br>
        <p>Приложение запускается на порте 8080.<br>
        Аутентификация и валидация не прописаны, т.к. на них потребуется больше кода,<br>
        чем на само приложение.</p>
    </div>
<footer class="footer fixed-bottom mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">RESTFUL WEB application "Contacts" by Ihor Soldatenko</span>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</main>
</body>
</html>